@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', 'Courier New', monospace;
}

/* Custom Utilities */
.text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-r from-blue-400 to-purple-500;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: rgba(59, 130, 246, 0.3); /* blue-500 with opacity */
  color: white;
}
